<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new flower</title>
</head>
<body>
<form action="#" th:action="@{/admin}"
      th:object="${newFlower}" method="post">

    <h1>Add new flower</h1>

    <div class="form-group">
        <p>Name: <input type="text" th:field="*{name}"/></p>
    </div>

    <div class="form-group">
        <p>Price: <input type="number" th:field="*{price}"/></p>
    </div>

    <div class="form-group">
        <p>Number of flowers: <input type="number" th:field="*{flowerNumber}"/></p>
    </div>

    <div class="form-group">
        <p>Color: <input type="text" th:field="*{colors}"/></p>
    </div>

    <div class="form-group">
        <p>Tag: <input type="text" th:field="*{tags}"/></p>
    </div>

    <div class="form-group">
        <select th:field="*{type}">
            <option th:value="'SINGLE_FLOWER'">Single flower</option>
            <option th:value="'BOUQUET'">Bouquet</option>
            <option th:value="'FLOWER_IN_POT'">Flower in the pot</option>
        </select>
    </div>
    <div class="form-group">
        <p>Image: <input type="file" th:field="*{image}" ></p>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>
