<div th:fragment="nav-container (count, price)" class="navbar" xmlns:th="http://www.w3.org/1999/html">
    <link href="../../static/css/site.css" rel="stylesheet" type="text/css"/>
    <nav>
        <div class="container">
            <div class="header">
                <div style="width: 85%">
                   <img style="display: block;  margin-left: auto; margin-right: auto; width: 50%;" class="nav-logo" alt="logo" th:src="@{/images/logo.png}"/>
                </div>
                <div style="float: right; width: 15%">
                    <h3>Cart:</h3>
                    <span>Price:</span>
                    <th:span th:text="${price}">Price</th:span>
                    <br/>
                    <span>Flower count:</span>
                    <th:span th:text="${count}">Count</th:span>
                    <br>
                    <a th:href="@{'/shopping-cart'}">
                        <img class="bag-icon" th:src="@{/icons/shopping-bag-black.png}" alt="icon"/>
                    </a>
                </div>
            </div>
            <div class="action-links">
                <a>All flowers</a>
                <a>Cut flowers</a>
                <a>Flower bouquet</a>
                <a>Personal bouquets</a>
            </div>
        </div>
    </nav>
</div>