<div th:fragment="nav-container" class="navbar" xmlns:th="http://www.w3.org/1999/html">
    <link href="../../static/css/site.css" rel="stylesheet" type="text/css"/>
<nav>
    <div class="container">
        <div class="header">
            <img class="nav-logo" alt="logo" th:src="@{/images/logo.png}"/>
            <img class="bag-icon" th:src="@{/icons/shopping-bag-black.png}" alt="icon"/>
        </div>
        <div class="action-links">
            <a>All flowers</a>
            <a>Cut flowers</a>
            <a>Flower bouquet</a>
            <a>Personal bouquets</a>
        </div>
    </div>
</nav>
</div>