<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower shop</title>
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/site.js}"></script>
</head>
<body>
<section>
    <div class="main-section">
        <nav th:replace="fragments/navigation-bar.html :: nav-container (count=${cart.count()}, price=${cart.price()})"></nav>
        <p class="home-text">Spring news 2022</p>
    <img class="home-img" th:src="@{/images/action-background.jpg}"/>
        <img class="frame" th:src="@{/images/frame.png}"/>
        <input type="submit" value="Explore" class="expl-btn">
    </div>
</section>
<section>
    <div class="suggest-section">
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade" style="display: block">
                    <div class="card">
                        <div class="species">Solid Tulips</div>
                        <img th:src="@{/images/tulips.jpg}" class="flower-img">
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                            <p class="quantity">1 cut flower </p>
                            <p class="price">EUR 2,50</p>
                        </div>
                    </div>
                </div>

                <div class="mySlides fade">
                    <div class="card">
                        <div class="species">Snapdragon</div>
                        <img th:src="@{/images/snapdragon.jpg}" class="flower-img">
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                            <p class="quantity">1 cut flower </p>
                            <p class="price">EUR 1,75</p>
                        </div>
                    </div>
                </div>

                <div class="mySlides fade">
                    <div class="card">
                        <div class="species">Gypsophilia</div>
                        <img th:src="@{/images/gypsophilia.jpg}" class="flower-img">
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                            <p class="quantity">1 cut flower </p>
                            <p class="price">EUR 0,99</p>
                        </div>
                    </div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <br>
                <!-- The dots/circles -->
                <div class="dot-list">
                    <span class="dot active" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <img class="option-img" th:src="@{/images/options-img.jpg}"/>
            <hr class="line">
        </div>
</section>
<section style="padding-top: 200px">
    <br>
    <h1>Flower shop</h1>
    <div>
        <div th:if="${moodFlowers != null}">
            <div>
                <a th:href="@{'/mood-builder'}">
                    <button type="button">Search for different mood</button>
                </a>
            </div>

            <div th:replace="fragments/flower-table.html
      :: flowerTable(caption='Flowers for your mood', flowers=${moodFlowers})">
            </div>
            <a th:href="@{'/flowers/reset-mood'}">
                <button type="button">All flowers</button>
            </a>
        </div>

        <div th:if="${moodFlowers == null}">
            <div>
                <span>Use our amazing mood builder to find the flowers that suits your needs the most!</span>
                <a th:href="@{'/mood-builder'}">
                    <button type="button">Use mood builder</button>
                </a>
            </div>

        <h3>Bouquets</h3>
        <div th:replace="fragments/flower-table.html
      :: flowerTable(flowers=${bouquets})">
        </div>
        <h3>Flowers in the pot</h3>
        <div th:replace="fragments/flower-table.html
      :: flowerTable(flowers=${potFlowers})">
        </div>
        <h3>Single Flowers</h3>
        <div th:replace="fragments/flower-table.html
      :: flowerTable(flowers=${singleFlowers})">
        </div>
    </div>
</div>
</body>
</html>

