<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower shop checkout</title>
</head>
<body>
<form action="#" th:action="@{/order}"
      th:object="${order}" method="post">

    <h1>Flower shop order checkout</h1>

    <div class="form-group">
        <p>First name: <input type="text" th:field="*{firstName}"/></p>
    </div>

    <div class="form-group">
        <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    </div>

    <div class="form-group">
        <p>Phone number: <input type="text" th:field="*{phoneNumber}"/></p>
    </div>

    <div class="form-group">
        <p>Email: <input type="text" th:field="*{email}"/></p>
    </div>

    <div class="form-group">
        <p>Address: <input type="text" th:field="*{address}"/></p>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>